* {

  --grid-columns-desktop: 4;

  --grid-columns-medium: 3;

  --grid-columns-mobile: 2;
}

.recipeCardContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--grid-columns-desktop), minmax(80px, 1fr));
  justify-items: center;
  margin-bottom: 50px;
  padding: 1em;
}

.recipeCard {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.5em;
  text-align: center;
}
@media screen and ( max-width : 768px ) {

  .recipeCardContainer {
    grid-template-columns: repeat(var(--grid-columns-medium), minmax(130px, 1fr));
  }
}

@media screen and ( max-width : 480px ) {

  .recipeCardContainer {
    grid-template-columns: repeat(var(--grid-columns-mobile), minmax(190px, 1fr));
  }
}


.linkCard {
  text-decoration: none;
}
