.recipeCard {
  align-items: center;
  background-color: white;
  border: 1px solid var(--orange-500);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px 32px 8px;
  text-align: center;
}

.recipeImg img {
  border-radius: 10px;
}

.recipeTitle {
  color: var(--red-700);
  font-size: larger;
  text-decoration: none;
}

.textContent {
  font-size: small;
  margin-top: 3px;
}

.text {
  font-size: small;
}

.btnContainer {
  display: flex;
  flex-direction: column;
}

.btnContainer button {
  background-color: white;
  border: none;
  cursor: pointer;
}
