body {
  background-color: var(--brown-300);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root {
  --brown-300: rgb(253, 214, 175);

  --red-700: rgb(165, 32, 15);

  --orange-300: rgb(226, 153, 61);
  --orange-500: rgb(221, 101, 38);

  --green-500: rgb(43, 76, 31);

  --white: #fff;
  --black: #1a1b1c;
}