.venv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Django migrations
**/migrations/
**/migrations/*.py
!**/migrations/__init__.py

# Django static files
staticfiles/

# Django media files
media/

# Local environment variables
.env

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Thumbnails
._*

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Pyre
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/
